<div class="container p-5">
  <h1>Stupid Coaching</h1>
  <div class="border-start border-5 p-3 mb-3">
    <p><%= @query %></p>
    <p>- You</p>
  </div>
  <div class="answer border-start border-5 p-3 bg-warning-subtle
">
    <p class="fw-bold"><%= @answer %></p>
    <p>- Your Coach</p>
  </div>
  <div class="link m-3">
<%= link_to "Ask your coach anything", ask_path %>
</div>
</div>
